{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trafic</h1>

    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Heure</th>
                <th>Prévision</th>
            </tr>
    </thead>
        <tbody>
        {% for line in data %}
            <tr>
                <td>{{ line.bm_heure }}</td>
                <td>{{ line.bm_prevision }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan=\"2\">no data found</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
